@import url('https://fonts.googleapis.com/css?family=Raleway:500|Uncial+Antiqua');

body {
    background-image: url("../images/gemstonebackground.jpg");
    font-family: 'Raleway', sans-serif;
}

.container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.jumbotron {  
    border: 2px solid #17a2b8;
    margin-bottom: 5px;
}

.display-4 {
    text-align: center;
    font-family: 'Uncial Antiqua', cursive;
}

#gems {
    background-color: #fff;
    border: 2px solid #17a2b8;
    margin: 20px auto 30px auto;
    padding: 10px;
}

img {
    width: 100px;
    height: auto; 
}

img:hover {
    opacity: 0.5;
}

.card {
    margin-top: 20px;
}

/* adjust page items to fit and align better on small screens*/
@media (max-width: 1024px) {
    .container {
        max-width: 95%;
    }
    .card-header {
        padding-right: 5px;
        padding-left: 5px;

    }
}

@media (max-width: 768px) {
    img {
        width: 20%;
    }
    #gems {
        max-width: 90%;
    }
}

@media (max-width: 640px) {
    .display-4 {
        font-size: 28px;
    }
}